<style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }

</style>


<ul>
{{#each icecream}}
  <li>Type: {{name}}</li>
  <li>Price: {{price}}</li>
  <li>Awesomeness Rating: {{awesomeness}}</li>
  <br>
{{/each}}
</ul>

